version: 1

defaults:
  gitlab:
    base_url: "https://gitlab.platform.corp"
    token_env: GITLAB_TOKEN
    insecure: true

  jira:
    base_url: "https://track.magnit.ru"
    token_env: JIRA_TOKEN
    user_env: JIRA_USER
    key_re: "[A-Z][A-Z0-9]+-[0-9]+"
    project: "MMBT"
    insecure: true
    user_agent: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36"

  commit_filter:
    ignore_patterns:
      - "^Merge branch"
      - "^Merge remote-tracking branch"
      - "^Merge pull request"
      - "^Merge .* into "
      - "^Revert "
      - "^WIP"
      - "^\\[skip ci\\]"
      - "^\\[ci skip\\]"

projects:
  - id: "mm-core-bff"
    name: "mm-core-bff"
    repo_url: "https://gitlab.platform.corp/magnitonline/mm/backend/mm-core-bff"
    deploy:
      order: 20

    targets:
      stage:
        from: "development"
        to: "stage"
      prod:
        from: "stage"
        to: "master"

  - id: "hive-graphql-gateway"
    name: "hive-graphql-gateway"
    repo_url: "https://gitlab.platform.corp/magnitonline/mm/backend/hive-graphql-gateway"
    deploy:
      order: 30

    targets:
      stage:
        from: "development"
        to: "staging"
      prod:
        from: "staging"
        to: "master"

  - id: "api-graphql"
    name: "api-graphql"
    repo_url: "https://gitlab.platform.corp/magnitonline/mm/backend/api-graphql"
    deploy:
      order: 40

    targets:
      stage:
        from: "development"
        to: "stage"
      prod:
        from: "stage"
        to: "master"